<%- include('includes/head'); %>

<%- include('includes/nav'); %>


<div class="container ">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="col-lg my-5">
                <h1 class="text-center">Ordem de Serviço</h1>
                <p class="text-center lead">Crie ou edite a ordem de serviço.</p>

                <form action="/register" method="POST" class="form-inline">
                    <div class="form-group my-4">
                      <label for="InputTitle1">Título</label>
                      <input type="text" class="form-control" id="InputTitle1" aria-describedby="emailHelp" placeholder="" name="title">
                    </div>
                    <div class="form-group my-4">
                      <label for="InputCustomer1">Cliente</label>
                      <input type="text" class="form-control" id="InputCustomer1" placeholder="" name="customer">
                    </div>
                    <div class="form-group my-4">
                      <label for="InputResponsible1">Responsável</label>
                      <input type="text" class="form-control" id="InputResponsible1" placeholder="" name="responsible">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<%- include('includes/footer'); %>